@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}

:root {

    /* Full Slider Bar */
    --Soft-Cyan: hsl(174, 77%, 80%);
    /* Slider Backround */
    --Strong-Cyan: hsl(174, 86%, 45%);
    /* Discount Background */
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    /* Discount Text */
    --Light-Red: hsl(15, 100%, 70%);
    /* CTA Text */
    --Pale-Blue: hsl(226, 100%, 87%);

    /* Pricing Component Background */
    --White: hsl(0, 0%, 100%);
    /* Main Background */
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    /* Empty Slider Bar */
    --Light-Grayish-Blue: hsl(224, 65%, 95%);
    /* Toggle Background */
    --Light-Grayish-Blue: hsl(223, 50%, 87%);
    /* Text */
    --Grayish-Blue: hsl(225, 20%, 60%);
    /* Text & CTA Background */
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);

}

/* MOBILE */

/* TYPOGRAPHY */

body {
    text-align: center;
}

h1 {
    font-size: 1.37rem;
    font-weight: 800;
    color: var(--Dark-Desaturated-Blue);
}

p {
    font-size: .89rem;
    font-weight: 600;
    color: var(--Grayish-Blue);
    line-height: 1.65rem;
}

b:first-of-type {
    color: var(--Grayish-Blue);
    font-size: .87rem;
    font-weight: 800;
    letter-spacing: .18rem;
}

b:last-of-type {
    font-size: 2.25rem;
}

.month {
    color: var(--Grayish-Blue);
}

li,
strong {
    font-size: .85rem;
    font-weight: 600;
    color: var(--Grayish-Blue);
}

strong>span {
    font-size: .6rem;
}

a {
    color: var(--Light-Grayish-Blue);
    text-decoration: none;
    font-weight: 800;
    font-size: .85rem;
}

/* LAYOUT */

body {
    background: left -3rem url(./images/bg-pattern.svg) no-repeat;
    width: 100vw;
}

#headingDiv {
    background: 7.5rem 3.8rem url(./images/pattern-circles.svg) no-repeat;
    padding-top: 2rem;
}

h1 {
    padding-top: 4rem;
    padding-bottom: .5rem;
}

p {
    margin: 0 6.5rem;
    padding-bottom: 4rem;
}

#mainDiv {
    background-color: var(--White);
    margin: 0 1.5rem;
    padding-top: 2rem;
    position: relative;
    border-radius: .5em;
    margin-bottom: 6rem;
    box-shadow: 0 10px 30px 10px hsla(223, 50%, 92%, .5);
}

b:last-of-type {
    position: absolute;
    left: 22%;
    top: 29%;
}

/* SLIDER */

#slider {
    -webkit-appearance: none;
    margin-bottom: 8rem;
    margin-top: 2.5rem;
    width: 85%;
    border-radius: 2em;
    height: .5rem;
    outline: none;
    background: linear-gradient(90deg, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 50%);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
    background: center center url(./images/icon-slider.svg) no-repeat var(--Strong-Cyan);
    cursor: pointer;
    box-shadow: 0 15px 20px 8px hsl(174, 77%, 80%);
}

#slider::-moz-range-thumb {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: center center url(./images/icon-slider.svg) no-repeat hsl(174, 86%, 25%);
    cursor: pointer;
}

/* SLIDER/END */

.month {
    position: absolute;
    top: 31.5%;
    left: 60%;
}

#toggleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.5rem;
    margin-top: 1.5rem;
    height: 2rem;
    position: relative;
}

strong {
    margin: 0 .75rem;
}

strong>span:before {
    content: '-25%';
    color: var(--Light-Red);
}

strong>span {
    background-color: var(--Light-Grayish-Red);
    border-radius: 2em;
    padding: .15rem .5rem;
    position: absolute;
    right: 2%;
}

/* CHECKBOX/TOGGLE */

.toggle {
    --width: 46px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--Light-Grayish-Blue);
    transition: background 0.2s;
}

.toggle__input:checked~.toggle__fill {
    background: var(--Strong-Cyan);
}

.toggle__fill::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    margin-left: 4px;
    height: 15px;
    width: 15px;
    background: var(--White);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked~.toggle__fill::after {
    transform: translateX(var(--height));
}

/* CHECKBOX/TOGGLE END */

#footerDiv {
    border-top: 1px solid hsl(224, 65%, 95%);
    padding: 1.5rem 0 3rem 0;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

li {
    width: fit-content;
    padding-bottom: .75rem;
}

a {
    padding: .9rem 3rem;
    background-color: var(--Dark-Desaturated-Blue);
    border-radius: 2rem;
}

svg {
    margin-right: 1rem;
}

li {
    list-style: none;
}

/* DESKTOP */

@media (min-width: 376px) {

    /* TYPOGRAPHY */

    h1 {
        font-size: 1.9rem;
    }

    p {
        font-size: 1rem;
    }

    b:last-of-type {
        font-size: 2.75rem;
    }

    strong>span:before {
        font-size: .75rem;
    }

    /* LAYOUT */

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: left top url(./images/bg-pattern.svg) no-repeat var(--Very-Pale-Blue);
    }

    #headingDiv {
        background: center 4.25rem url(./images/pattern-circles.svg) no-repeat;
        padding-top: 3rem;
    }

    h1 {
        padding-top: 3.65rem;
        padding-bottom: .75rem;
    }

    p {
        padding-bottom: 5.85rem;
    }

    #mainDiv {
        width: 36rem;
    }

    #mainDivOne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1rem 7.25rem 0 3rem;
    }

    b:last-of-type {
        position: static;
    }

    .month {
        position: absolute;
        right: -12%;
        top: 45%;
    }

    /* SLIDER */

    #slider {
        -webkit-appearance: none;
        margin-bottom: 2.75rem;
        margin-top: 2.75rem;
        width: 83%;
        height: .6rem;
        background: linear-gradient(90deg, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 50%);
    }

    #slider::-webkit-slider-thumb {
        box-shadow: 0 10px 20px 8px hsl(174, 77%, 80%);
    }

    #toggleDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3.5rem;
        margin-top: 1.5rem;
        height: 2rem;
        position: relative;
        margin-right: .5rem;
    }

    strong {
        margin: 0 1rem;
    }

    strong>span:before {
        content: '25% discount';
    }

    strong>span {
        background-color: var(--Light-Grayish-Red);
        border-radius: 2em;
        padding: .25rem .5rem;
        position: absolute;
        right: 9%;
        top: -22%;
    }

    #footerDiv {
        padding: 1.5rem 3rem 1.5rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        align-items: flex-start;
        margin-bottom: 0;
    }

    li {
        width: fit-content;
        padding-bottom: .75rem;
    }

    a {
        width: 18rem;
        height: 2.9rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #slider::-webkit-slider-thumb:hover {
        background: center center url(./images/icon-slider.svg) no-repeat hsl(174, 86%, 35%);
        ;
    }

}